body{

}
header nav{

}
header nav ul{
    margin: 0;

    list-style: none;
}
header nav ul li{
    display: inline-block;

}
header nav ul li .logo{

}

header nav ul li .link{
	
}
section{

}

section.top-wrappper{
    height: 800px;
	
    width: 100%;
    background: linear-gradient(135deg, #22AD45 0%,#2DFAFE 100%);
}
section.intro{
	
}
section.content{
	
}
section.team{
	
}
section.contact{
	
}