header nav{
    position: absolute;
    right: 60%;
    margin: 0 -550px 0 0;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    padding-top: 10px;
}
header nav ul li a{
     padding: 10px;
     text-decoration: none;
     font-family: 'Segoe UI',arial,sans-serif;
     font-weight: bold;
     color: #FFFFFF;
     font-size: 18px;
     text-transform: uppercase;
}
header nav ul li a:hover{
    color: #5A5A5A;
}
header div.logo{
    background: url(../images/logo.png);
    width: 300px;
    height: 100px;
    position: absolute;
    background-size: contain;
}


section.top-wrapper{
    height: 550px;
    width: 100%;
    background: linear-gradient(135deg, #2dcafe 0%,#2DFAFE 100%);
}
section.top-wrapper span{
    width: 100%;
    display: block;
    height: 100%;
    background-image: url('../images/pixel.png');
}

section.top-wrapper img{
    width: 390px;
    position: absolute;
    top: 90px;
}

section.top-wrapper h2{
    position: absolute;
    top: 27%;
    color: #FFF;
    font-family: 'Segoe UI',arial,sans-serif;
    font-size: 35px;
    right: 8%;
}
section.top-wrapper h3{
    position: absolute;
    font-weight: 100;
    top: 35%;
    color: #425156;
    font-family: 'Segoe UI',arial,sans-serif;
    font-size: 27px;
    right: 21%;
}
section.about{
    padding: 20px;
    font-family: 'Segoe UI',arial,sans-serif;
    border-bottom: 1px solid #EEE;
}
section.about span{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #E02929;
    font-weight: bold;
}
section.about h2.heading-tag{
    border-bottom: 4px solid #BF1B9C;
    width: 295px;
    margin: 0 auto;
    padding: 16px 16px 10px 16px;
    font-size: 29px;
}
section.about p.heading-tag{
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
    line-height: 29px;
    width: 860px;
}

section.about h2{
    text-align: center;
}
section.about p{
    text-align: center;
    margin-top: 30px;
}
section.about .holder{
    margin: 30px auto;
    width: 970px;
}
section.about .block{
    width: 280px;
    display: inline-block;
    height: 200px;
    margin: 0px 20px 0px 20px;
}
section.about .block img{
    width: 150px;
    margin: 0 auto;
    display: block;
}

section.about .block h2{

}
section.about .block p{
    color: #656565;
}
section.team{
    background: linear-gradient(135deg, #12B0C7 0%,#71DDC5 100%);
    /*background: #f4f4f4;*/
    padding: 20px;
}
section.team h2{
    text-align: center;
    font-family: 'Segoe UI',arial,sans-serif;
    color: #FFF;
}
section.team .inspector{
    margin: 0 auto;
    width: 860px;
}
section.team .box{
    width: 200px;
    height: 186px;
    display: inline-block;
    background-color: #FFF;
    margin: 5px;
}
section.team .box img{
    width: 200px;
    height: 180px;
    margin-top: 3px;
}
section.twitter{

}

footer{
    background: #EEE;
    padding: 20px;
}
footer p{
    text-align: center;
    color: #737373;
    font-weight: bold;
    margin: 0;
    font-family: 'Segoe UI',arial,sans-serif;
}
/*Form */
section.contact{
    padding: 20px;
}

section.contact h2{
    text-align: center;
    font-family: 'Segoe UI',arial,sans-serif;
}
section.contact form{
    background-color: #f4f4f4;
    height: 355px;
    color: #464646;
    border-radius: 5px;
    width: 400px;
    padding: 50px;
    margin: 0 auto;
}
section.contact input[type=text],section.contact input[type=email]{
    margin-left: 7px;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

section.contact textarea{
    margin-left: 7px;
    padding: 15px;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    resize: none;
}
section.contact input[type=submit]{
    height: 50px;
    width: 90%;
    border-color: #6BD844;
    border-radius: 0px;
    border-width: 1px;
    margin-left: 20px;
    background-color: #8BDA6F;
}
section.contact input[type=submit]:hover{
    transition:all .3s;
    background-color: #6BD844;
}


/*Timeline*/
.timeline-h2{
    text-align: center;
    font-family: 'Segoe UI',arial,sans-serif;
    border-bottom: 4px solid #168FF7;
    width: 368px;
    margin: 0 auto;
    padding: 16px 16px 10px 16px;
    font-size: 29px;
    color:#424242;
}

#timeline{
    background: #45CCEA;
}
